<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammatical Error Detector</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Grammatical Error Detector</h1>
    <form action="/predict" method="post">
        <label for="sentence">Enter a sentence:</label><br>
        <input type="text" id="sentence" name="sentence"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
